body {
  margin: 20px auto !important;
  background-color: rgb(167, 193, 196) !important;
}
h1 {
  text-align: center;
}
p {
  text-align: center;
}
footer {
  display: block;
  text-align: center;
  margin-bottom: 40px;
}
footer a {
  margin: 0 10px;
  color: green;
}
footer a:hover {
  color: green;
}

a:visited {
  color: green;
}
.yoga-photo {
  max-width: 100%;
  margin: 30px auto;
  border-radius: 50px;
}
